@charset "UTF-8";

body {
    background-color:#040404;
    font-family: Courier New, Courier;
    overflow-y: scroll;
    text-align:center;
}

div#container {
    display: inline-block;
    text-align:left;
    background-color: white;
    border: 8px solid #006600
    margin: 50px auto;
    padding: 40px 50px;
    width: 650px;
}

h1 {
    font-size: 1.1em;
    text-align:center;
}

h2 {
    font-size: 1.0em;
    margin-top: 30px;
}

nav {
    display:block;
    padding-bottom: 20px;
    text-align: center;
}


a {
    color: green;
}
