@charset "UTF-8";

body {
    background-color:#040404;
    font-family: Courier New, Courier;
    overflow-y: scroll;
    text-align:center;
    margin: 80px auto;
}

div#container {
    text-align:left;
    background-color: white;
    border: 8px solid #B78727;
    margin: 50px auto;
    padding: 20px 50px;
    width: 650px;
}
div#title {
    font-family: tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #060606;
}    

#appname {
    color: #0F4D92;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.1em;
    margin-top: 20px;
}

nav {
    display:block;
    padding-bottom: 10px;
    text-align: center;
    font-weight:bold;
}


a {
    color: green;
}
table#data_collected, table#data_collected tbody tr {
    border: 1px solid #a1a1a1;
    border-collapse: collapse;
    width: 650px;
}

table#data_collected thead tr {
}

table#data_collected tbody tr:nth-child(even) {
    background-color: #e1e1e1;
}


