{{extend 'layout.html'}}
 <h1>Contact Us</h1>
 
<p>If you used this web application, we would be delighted to receive
feedback about whether it was useful to you or how it could be improved.
We can be reached at <tt>auditbear@taverner.cs.berkeley.edu</tt>.</p>

<p>If you used this web application, we would be delighted to receive
feedback about whether it was useful to you or how it could be improved.
We can be reached at <tt>auditbear@taverner.cs.berkeley.edu</tt>.</p>

<p>If you have found a bug in the web application, you are also welcome to
<a href="https://code.google.com/p/audit-bear/issues/entry">file a bug
report on our bug tracker</a>, if that is more convenient.</p>
