{{extend 'layout.html'}}
<h1>Privacy</h1>

<p>Results produced from the iVotronic logs are temporarily stored on our server and served based on session cookies.  Accessing this site over http means that an attacker could potentially replay the session cookie and view a user's audit results. The uploaded files are deleted before the results request is completed.
</p>
<p>
If any of this is a concern, it would be simple to create a local version of this website using our <a href="https://code.google.com/p/audit-bear/">Google Code repository</a>. We would be happy to assist anyone interested in using our code.
</p>
